<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mb-4">
				<img src="~/images/gobi-branco.png" alt="Gobi Consulting" />
			</div>

			<div class="col-lg-4 mb-4">
				<h4>Nossos contatos</h4>

				<ul>
					<li><a href="mailto:gobi@consulting.com" target="_blank" title="Entre em contato">gobi@gobi.consulting</a></li>
					<li>R. Dr. Virgílio de Carvalho Pinto, 445 - Pinheiros, São Paulo - SP, 05415-030</li>
					<li><a href="https://wa.me/5511952378154" target="_blank" title="Instagram Gobi Consulting">WhatsApp: +55 11 99139-4449</a></li>
				</ul>
			</div>

			<div class="col-lg-4">

				<h4>Nos acompanhe nas Redes Sociais</h4>
				<ul>
					<li><a href="https://www.instagram.com/gobi.consulting/" target="_blank" title="Instagram Gobi Consulting">Instagram</a></li>
					<li><a href="https://www.linkedin.com/company/gobintelligence/" target="_blank" title="LinkedIn Gobi Consulting">LinkedIn</a></li>
				</ul>
			</div>
		</div>


		<div class="row mt-4">
			<div class="col-lg-12 text-center">
				<p>&copy; Gobi</p>
			</div>
		</div>
	</div>

</footer>