<h3>Introdução</h3>

<p>Esta Declaração de Privacidade e Proteção de Dados Pessoais aplica-se a página específica do site <a href="https://gobi.consulting/">https://gobi.consulting/</a> designada como Gobi no canto superior esquerdo, que são referidas a seguir como "este website".</p>
<p>A GOBI CONSULTING é uma empresa consciente da importância da privacidade e proteção de dados pessoais.</p>
<p>Esta Declaração de Privacidade e Proteção de Dados Pessoais expressa nosso compromisso com o tratamento de seus dados pessoais de modo responsável, ético, em linha com nossos princípios e valores e, especialmente, de acordo com as regras da Lei nº 13.709/2018 (Lei Geral de Proteção de Dados Pessoais - “LGPD” ) e demais legislações vigentes aplicáveis.</p>
<p><strong>Ao utilizar este site, você concorda com o uso de suas informações como está descrito nesta Declaração de Privacidade e Proteção de Dados Pessoais.</strong></p>
<p>Recomendamos que os visitantes revisem cada uma das declarações de privacidade e proteção de dados pessoais desse e de outros sites antes de divulgar qualquer informação pessoal.</p>
<p>Se você tiver alguma dúvida sobre esta Declaração de Privacidade e Proteção de Dados Pessoais, entre em contato com o nosso Encarregado/DPO, através do endereço do e-mail dpo@gobi.consulting.</p>
<h3>Resumo da Declaração de Privacidade e Proteção de Dados Pessoais</h3>
<p>Esta Declaração de Privacidade e Proteção de Dados Pessoais informa quais dados pessoais coletamos sobre você, para que usamos, como e onde armazenamos e com quem compartilhamos. Também define os seus direitos em relação aos seus dados pessoais e quem você pode contatar para obter mais informações ou esclarecimentos a respeito desse tema. Veja abaixo as seções desta declaração:</p>

<ul>
    <li>Quais tipos de dados pessoais coletamos;</li>
    <li>Como coletamos os seus dados pessoais;</li>
    <li>Como utilizamos os seus dados pessoais;</li>
    <li>Quais os fundamentos legais que usamos para tratar os seus dados pessoais;</li>
    <li>Para quem nós divulgamos os seus dados pessoais;</li>
    <li>Como protegemos seus dados pessoais;</li>
    <li>Por quanto tempo mantemos seus dados pessoais;</li>
    <li>Quais são seus direitos;</li>
    <li>Reclamações;</li>
    <li>Alterações nesta Declaração de Privacidade e Proteção de Dados Pessoais;</li>
</ul>

<h3>Quais tipos de dados pessoais coletamos</h3>

<p>Os dados pessoais que coletamos podem incluir: seu nome; idade; data de nascimento; sexo; endereço de e-mail; endereço residencial; país de residência; estilo de vida e circunstâncias sociais (por exemplo, seus passatempos); circunstâncias familiares (por exemplo, seu estado civil e dependentes); detalhes sobre emprego e educação (por exemplo, a organização para a qual você trabalha, seu cargo e seus detalhes educacionais); informações financeiras e tributárias (por exemplo, sua renda e residência fiscal); suas postagens em blogs, fóruns, wikis e quaisquer outros aplicativos e serviços de mídia social que fornecemos; seu endereço IP; o seu tipo de navegador e idioma; seus horários de acesso; detalhes da reclamação; detalhes de como você usa nossos produtos e serviços; detalhes de como você gosta de interagir conosco e outras informações semelhantes. Os dados pessoais que coletamos também podem incluir dados pessoais sensíveis, os quais são definidos por lei como sendo dados pessoais sobre origem racial ou étnica, convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado genético ou biométrico, quando vinculado a uma pessoa natural. </p>
<p>Os tipos de dados pessoais e categorias especiais de dados pessoais que coletamos podem variar dependendo da natureza dos serviços que fornecemos a você ou ao nosso cliente, ou como você usa o nosso site. Em algumas circunstâncias raras, podemos também coletar outras categorias especiais de dados pessoais a seu respeito, seja porque você nos fornece esses dados ou porque somos obrigados a coletá-los em decorrência de requisitos legais impostos a nós.</p>

<h3>Como coletamos os seus dados pessoais?</h3>

<p>Coletamos e tratamos dados pessoais sobre você ou sua empresa para a prestação de serviços. Por exemplo, podemos coletar dados pessoais:</p>
<p>Advindos da prestação de serviços: podemos coletar dados pessoais no decorrer da prestação de serviços a você ou ao nosso cliente;</p>
<p>Advindos do titular: podemos coletar ou obter tais dados porque você nos fornece ou porque estão publicamente disponíveis, inclusive nas situações em que você se inscreve para receber materiais;</p>
<p>Advindos da sua interação com a GOBI: também podemos coletar ou obter seus dados pessoais porque observamos ou inferimos esses dados sobre você pela maneira como interage com o nosso site, para fornecer informações que acreditamos ser de seu interesse;</p>
<p>Advindos dos nossos clientes: quando seus dados pessoais nos são fornecidos pelo nosso cliente, tomamos medidas para garantir que o cliente tenha cumprido as leis e os regulamentos de privacidade e proteção de dados.</p>
<p>Informações adicionais sobre como usamos cookies e outras tecnologias de rastreamento, bem como a respeito de como você pode controlá-las, podem ser encontradas (fazer link com a política de cookies ) na sequência deste documento.</p>
<p>Entendemos a importância de proteger a privacidade e dados pessoais das crianças e adolescentes. Nosso site e nossos serviços não são projetados ou intencionalmente direcionados a crianças e adolescentes. Não é nossa política coletar ou armazenar intencionalmente informações sobre este tipo de público, todavia, em eventuais situações em que a coleta e o uso desses tipos de dados pessoais se fizerem necessários, como por exemplo na prestação de serviços que envolvem análise de dados pessoais de dependentes menores de idade, o tratamento ocorrerá no melhor interesse da criança e/ou do adolescente, nos termos da legislação vigente.</p>

<h3>Como utilizamos os seus dados pessoais</h3>

<p>Uso de dados pessoais para fornecer serviços aos nossos clientes</p>
<p>Usaremos seus dados pessoais para fornecer serviços a você ou ao nosso cliente. Como parte disso, podemos usar seus dados pessoais no decorrer da correspondência relacionada aos serviços. Tal correspondência pode ser com você, nosso cliente, outros membros da GOBI, nossos prestadores de serviços ou autoridades competentes. </p>
<p>Uso de dados pessoais para outras atividades que fazem parte da operação de nossos negócios</p>
<p>Também podemos usar seus dados pessoais para ou em conexão com:</p>

<ul>
    <li>Requisitos legais ou regulamentares aplicáveis;</li>
    <li>Pedidos e comunicações de autoridades competentes;</li>
    <li>Abertura de conta do cliente e outros fins administrativos;</li>
    <li>Contabilidade financeira, faturamento e análise de risco;</li>
    <li>Fins de relacionamento com o cliente, que podem envolver: (i) envio de conteúdos de eminência ou detalhes sobre nossos produtos e serviços que acreditamos que possam ser de interesse para você; (ii) entrar em contato com você para receber feedback sobre os serviços; e (iii) entrar em contato com você para outros fins de mercado ou pesquisa;</li>
    <li>Fins de recrutamento e de desenvolvimento de negócios (por exemplo, depoimentos de funcionários de um cliente podem ser usados como parte de nossos materiais de recrutamento e desenvolvimento de negócios, com a devida permissão desse funcionário);</li>
    <li>Serviços que recebemos de nossos consultores profissionais, como advogados, contadores e consultores;</li>
    <li>Proteção de nossos direitos e os de nossos clientes.</li>
</ul>

<p>Uso de dados pessoais coletadas através do nosso site</p>
<p>Além dos fins relacionados à operação de nossos negócios acima, nós também podemos usar seus dados pessoais por meio do nosso site para:</p>

<ul>
    <li>gerenciar e melhorar nosso site;</li>
    <li>adaptar o conteúdo do nosso site, a partir do monitoramento de acesso aos conteúdos disponibilizados, para fornecer a você uma experiência mais personalizada e chamar sua atenção para informações sobre nossos produtos e serviços que podem ser do seu interesse;</li>
    <li>gerenciar e responder a qualquer solicitação que você enviar por meio do nosso site;</li>
</ul>
<p><strong>Quais os fundamentos legais que usamos para tratar os seus dados pessoais</strong></p>
<p>Somos requeridos por lei a estabelecer neste documento quais os fundamentos legais para tratamento dos seus dados pessoais, principalmente relacionados às hipóteses legais definidas pela LGPD.</p>
<p>Como resultado, os seus dados pessoais serão tratados nas seguintes hipóteses:.</p>
<ul>
    <li>mediante o fornecimento do seu consentimento para tratamento de seus dados, como por exemplo, para lhe conceder acesso a alguma plataforma ou disponibilizar algum material de marketing. Caso você não queira continuar recebendo qualquer material de marketing nosso, basta clicar na função de cancelamento de assinatura constante na comunicação ou no e-mail recebido, bem como entrar em contato conosco através do portal (colocar link do local de solicitação de informações). do e-mail <a href="mailto:dpo@gobi.consulting" title="Gobi Consulting">dpo@gobi.consulting</a>.</li>
    <li>quando existentes legítimos interesses da GOBI no oferecimento e entrega de nossos serviços para você ou para nosso cliente, bem como para o funcionamento eficaz e lícito dos nossos negócios, desde que tais interesses não sejam superados pelos seus interesses, direitos e liberdades fundamentais;</li>
    <li>observação de obrigações legais e regulatórias aplicáveis que podem exigir a coleta, armazenamento e compartilhamento de seus dados pessoais a fim de atender disposições legais e regulatórias, tais como (i) manutenção de registros para fins fiscais ou fornecimento de informações a um órgão público ou órgão de aplicação da lei; (ii) cumprimento de obrigações trabalhistas e previdenciárias; (iii) cumprimento de obrigações de combate à corrupção, lavagem de dinheiro, fraude e condutas irregulares;</li>
    <li>para executar eventual contrato, bem como para fornecer nossos serviços a você ou nosso cliente;</li>
    <li>para exercer regularmente nossos direitos, como por exemplo, para exercer nosso direito de defesa em algum processo judicial ou administrativo;</li>
    <li>proteção da vida ou da incolumidade física sua ou de terceiro;</li>
    <li> tutela da sua saúde.</li>
</ul>

<p>
    Da mesma forma, os seus dados pessoais sensíveis serão tratados nas seguintes hipóteses:
    <ul>
        <li>mediante o fornecimento do seu consentimento específico e destacado para tratamento de seus dados;</li>
        <li>Quando necessário para o cumprimento de obrigações legais ou regulatórias aplicáveis que podem exigir a coleta, armazenamento e compartilhamento de seus dados pessoais a fim de atender disposições legais e regulatórias, tais como (i) manutenção de registros para fins fiscais ou fornecimento de informações a um órgão público ou órgão de aplicação da lei; (ii) cumprimento de obrigações trabalhistas e previdenciárias; (iii) cumprimento de obrigações de combate à corrupção, lavagem de dinheiro, fraude e condutas irregulares;</li>
        <li>proteção da vida ou da incolumidade física sua ou de terceiro;</li>
        <li>tutela da saúde;</li>
        <li>para exercer regularmente nossos direitos, como por exemplo, para exercer nosso direito de defesa em algum processo judicial ou administrativo;</li>
        <li>garantia da prevenção à fraude e à sua segurança, nos processos de identificação e autenticação de cadastro em sistemas eletrônicos;</li>

    </ul>
    <h3>Para quem nós divulgamos os seus dados pessoais.</h3>
<p>Em conexão com um ou mais dos fins descritos na seção “Como utilizamos os seus dados pessoais” acima, poderemos divulgar detalhes sobre você para: outros membros da GOBI, funcionários, terceiros que nos prestam serviços e parceiros, autoridades competentes (incluindo tribunais e autoridades que nos regulam); empresas de tecnologia responsáveis pelo armazenamento e garantia de segurança no tratamento de seus dados; seu empregador e/ou seus assessores; seus conselheiros; agências de referência de crédito; ou outras organizações que nos ajudam a tomar decisões sobre crédito e reduzir a incidência de fraudes e outros terceiros que razoavelmente exigem acesso a dados pessoais relacionados a você para um ou mais dos fins descritos na seção “Como utilizamos os seus dados pessoais” acima..</p>
<p>Nosso site hospeda vários blogs, fóruns, wikis e outros aplicativos ou serviços de mídia social que permitem compartilhar conteúdo com outros usuários. É importante observar que qualquer informação pessoal que você contribua para esses Aplicativos de Mídia Social pode ser lida, coletada e usada por outros usuários do aplicativo. Temos pouco ou nenhum controle sobre esses outros usuários e, portanto, não podemos garantir que qualquer informação que você forneça com qualquer aplicativo de mídia social será tratada de acordo com esta Declaração de Privacidade e Proteção de Dados Pessoais.</p>
<p>Observe que alguns dos destinatários de seus dados pessoais mencionados acima podem estar localizados em países fora do Brasil ou fora da União Europeia, cujas leis podem não oferecer o mesmo nível de proteção de dados. Nesses casos, asseguraremos que adotaremos todas as providências possíveis para proteger seus dados pessoais em conformidade com nossas obrigações legais.</p>
<p>Também podemos precisar divulgar seus dados pessoais, se exigido por lei, regulador ou durante processos judiciais.</p>
<p>Podemos compartilhar informações não pessoais, não identificadas e agregadas com terceiros para diversos fins, incluindo análise de dados, pesquisas, contribuições, conteúdos de eminência e fins promocionais.</p>

<h3>Como protegemos os seus dados pessoais</h3>

<p>Usamos uma série de medidas físicas, eletrônicas e gerenciais para garantir que seus dados pessoais se mantenham seguros, precisos e atualizados. Essas medidas incluem:</p>

<ul>
    <li>Educação e treinamento da equipe responsável para que eles estejam cientes de nossas obrigações de privacidade e proteção de dados ao lidar com dados pessoais;</li>
    <li>Controles administrativos e técnicos para restringir o acesso a dados pessoais, condicionados à necessidade de conhecimento;</li>
    <li>Medidas tecnológicas de segurança, incluindo firewalls, criptografia e software antivírus;</li>
    <li>Medidas de segurança física, tais como passes de segurança de empregados para acessar nossas instalações.</li>
</ul>

<p>Apesar de usarmos medidas de segurança apropriadas, uma vez que recebemos seus dados pessoais, a transmissão de dados pela internet (inclusive por e-mail) nunca é completamente segura. Nós nos esforçamos para proteger os seus dados pessoais, mas não podemos garantir a segurança dos dados transmitidos para nós ou por nós.</p>

<p>Visando a devida proteção e tratamento de seus dados pessoais em conformidade com a LGPD, além das demais leis aplicáveis., nós nos comprometemos à:</p>
<ul>
    <li>Adotar medidas de segurança, técnicas e administrativas para proteger os dados pessoais de acessos não autorizados e de situações acidentais ou ilícitas de destruição, perda, alteração, comunicação ou qualquer forma de tratamento inadequado ou ilícito;</li>
    <li>Manter registro das operações de tratamento de dados pessoais realizadas, especialmente quando baseado no interesse legítimo;</li>
    <li>Comunicar, em prazo razoável, à Autoridade Nacional de Proteção de Dados e ao titular a ocorrência de incidente de segurança que possa acarretar risco ou dano relevante;</li>
    <li>Utilizar para o tratamento de dados pessoais sistemas que sejam estruturados de forma a atender aos requisitos de segurança, aos padrões de boas práticas e de governança e aos princípios gerais previstos na LGPD;</li>
    <li>Eliminar os dados pessoais após o término de seu tratamento, no âmbito e nos limites técnicos das atividades, autorizada a conservação para as finalidades previstas em lei; e</li>
    <li>Observar as diretrizes, normas e regulamentos editados pela Autoridade Nacional de Proteção de Dados (ANPD).</li>
</ul>

<h3>Por quanto tempo manteremos as suas informações?</h3>
<p>Nós manteremos seus dados pessoais em nossos sistemas pelo maior dos seguintes períodos: (i) enquanto for necessário para a atividade ou serviços relevantes; (ii) qualquer período de retenção exigido por lei; (iii) fim do período no qual os litígios ou investigações em relação aos serviços possam surgir; (iv) enquanto válido seu consentimento, nas hipóteses aplicáveis; (v) nos termos da legislação vigente.</p>

<h3>Seus direitos</h3>
<p>Você possui vários direitos em relação aos seus dados pessoais, os quais podem ser exercidos a qualquer tempo, de forma gratuita através de solicitação registrada por você ao nosso DPO/ Encarregado, através do e-mail dpo@gobi.consulting. Em particular, você tem o direito de:</p>

<ul>
    <li>Obter confirmação de que estamos tratando seus dados pessoais e solicitar uma cópia dos dados pessoais que mantemos sobre você;</li>
    <li>Pedir que atualizemos os dados pessoais que mantemos a seu respeito ou corrijamos dados que você acha que estão incorretos ou incompletos;</li>
    <li>Retirar o consentimento concedido para o processamento de seus dados pessoais, bem como solicitar sua eliminação (na medida em que tal processamento tenha como base o consentimento);</li>
    <li>Solicitar a portabilidade dos dados pessoais que temos sobre você para outro fornecedor de produtos ou serviços, desde que respeitados os segredos comercial e industrial, bem como confidencialidade aplicável;</li>
    <li>Obter informações sobre com quem realizamos o uso compartilhado de seus dados;</li>
    <li>Solicitar que os seus dados pessoais que você entenda como desnecessários, excessivos ou tratados em desconformidade com a LGPD, sejam anonimizados, bloqueados ou eliminados;</li>
    <li>Solicitar a revisão de decisões tomadas unicamente com base em tratamento automatizado de dados pessoais.</li>
</ul>

<p>Para exercer qualquer um dos seus direitos, ou se você tiver outras dúvidas sobre o uso de seus dados pessoais, entre em contato com nosso DPO/ Encarregado através do e-mail dpo@gobi.consulting.</p>

<h3>Reclamações</h3>

<p>Se não estiver satisfeito com a maneira como tratamos os seus dados pessoais ou com qualquer questão ou solicitação relacionada à sua privacidade, você pode encaminhar a sua reclamação ou solicitação para o nosso DPO/ Encarregado através do e-mail dpo@gobi.consulting.</p>
<p>Alterações nesta Declaração de Privacidade e Proteção de Dados Pessoais</p>
<p>Podemos modificar ou alterar esta Declaração de Privacidade e Proteção de Dados Pessoais de tempos em tempos.</p>
<p>Para informá-lo de quando fizermos alterações nesta Declaração de Privacidade e Proteção de Dados Pessoais, alteraremos a data de revisão na parte superior desta página. A nova Declaração de Privacidade e Proteção de Dados Pessoais modificada ou alterada será aplicada a partir dessa data de revisão. Portanto, incentivamos você a periodicamente revisar esta Declaração para ser informado sobre como estamos protegendo suas informações.</p>
<p>Ao fornecer informações por meio deste site, você concorda com as divulgações descritas acima.</p>
<p>Perguntas dos visitantes</p>
<p>Se você tiver dúvidas ou preocupações em relação à sua privacidade e ao tratamento de seus dados pessoais ao usar este site, encaminhe-as ao nosso DPO/ Encarregado através do e-mail dpo@gobi.consulting</p>

<h3>Política de cookie da https://gobi.consulting/</h3>
<p>Bem-vindo à Política de cookie da Gobi.</p>
<p>Este Aviso de Cookie é parte de nossa Política de Privacidade (linkar com a política de privacidade). Para mais informações sobre nós e como protegemos as informações dos usuários, consulte nossa Política de Privacidade. </p>
<p>O objetivo desta política é fornecer a você, usuário de nossos serviços, informações claras e acessíveis sobre os cookies que a GOBI utiliza e o papel que eles desempenham para fornecer a melhor experiência possível para você e as suas opções para configurar cookies.</p>

<h3>1. O que são cookies e outras tecnologias semelhantes?</h3>
Cookies são arquivos de texto baixados em seu dispositivo quando você visita um site. São úteis por permitirem que um site reconheça o dispositivo do usuário. Os cookies têm várias finalidades, como permitir a navegação eficiente entre páginas, lembrar preferências e, em geral, melhorar a experiência do usuário. Eles também podem ajudar a garantir que os anúncios que você vê online sejam mais relevantes para você e seus interesses.

<h3>2. Qual o objetivo?</h3>
Com o objetivo de fornecer um serviço mais personalizado e ágil, precisamos lembrar e armazenar informações sobre como você usa este site. Isso é feito por meio de pequenos arquivos de textos chamados cookies. Eles contêm pequenas quantidades de informação e são baixados para o seu computador ou outro dispositivo por um servidor deste site. O seu navegador, em seguida, envia esses cookies de volta em cada visita subsequente. Desta forma, podemos reconhecer e lembrar de suas preferências. Você pode encontrar informações mais detalhadas sobre cookies e como funcionam em: <a href="http://www.aboutcookies.org/" title="About Cookies" target="_blank">http://www.aboutcookies.org/</a>
Sempre que você utilizar este site, as informações podem ser coletadas por meio do uso de cookies e outras tecnologias. Ao utilizar este site, você concorda com o nosso uso de cookies, descrito neste aviso, assim como o uso de cookies pelos nossos parceiros e subcontratados.

<h3>3. Quais cookies nós utilizamos e por que?</h3>

<p>Alguns dos cookies que utilizamos são estritamente necessários para que você possa navegar pelo site e usar recursos, como o acesso às áreas seguras que podem conter conteúdos para usuários registrados.</p>
<p>Nós também utilizamos cookies funcionais para registrar informações sobre as escolhas que você fez e que nos permitem adaptar o site para nossos usuários, por exemplo, lembrar o seu idioma ou região ou que já tenha concluído uma pesquisa. Essas informações geralmente são anônimas e não são usadas para qualquer outra finalidade.</p>
<p>Nós, ou os nossos prestadores de serviços, também utilizamos os serviços de análise para nos ajudar a entender o quão efetivo é o nosso conteúdo, o que é de interesse dos nossos usuários em melhorar o funcionamento deste site. Além disso, usamos web beacons ou rastreamento de pixels para contar o número de visitantes e cookies de desempenho para controlar quantos usuários acessam este site e quantas vezes. Esta informação é usada apenas para fins estatísticos e não é nossa intenção utilizá-las para identificar pessoalmente qualquer usuário. No entanto, se você se registrou neste site, nós podemos combinar essa informação com as de nossos serviços de analytics e cookies para analisar com mais detalhes a forma como você utiliza este site, a sua localização geográfica e linguagem.</p>
<p>Ele não utiliza cookies direcionados para mostrar anúncios aos visitantes do site. Caso você permita, este site pode utilizar cookies direcionados com o objetivo de entregar conteúdos publicitários de acordo com seu interesse. Também servem para limitar o número de vezes que determinado anúncio aparece para você e armazenam informações sobre seu acesso ao site, tais quais podem ser compartilhadas com outras organizações, como anunciantes.</p>
<p>Entre em contato conosco se você quiser informações mais detalhadas sobre os cookies que usamos.</p>

<h3>4. Como controlar os cookies?</h3>
<p>Ao utilizar este site, você concorda que podemos inserir cookies estritamente necessários no seu computador ou dispositivo, como explicado acima. Caso você permaneça navegando neste site, você também concorda que podemos inserir cookies funcionais, de desempenho e direcionados. No entanto, você pode controlar e gerenciar os cookies de várias maneiras. Por favor, tenha em mente que a remoção ou bloqueio de cookies pode ter impacto sobre a sua experiência de usuário e partes deste site podem não ser totalmente acessíveis.</p>

<h3>5. Controles do navegador</h3>

<p>
    A maioria dos navegadores permite que você veja os seus cookies, apague ou os bloqueie de um site específico ou de todos os sites. Esteja ciente de que qualquer preferência que você definir será perdida se você excluir todos os cookies, incluindo sua preferência de optar por não ter os cookies. Para mais informações sobre como modificar as configurações do seu navegador para bloquear ou filtrar cookies, consulte <a href="http://www.aboutcookies.org/" title="About Cookies" target="_blank">http://www.aboutcookies.org/</a> ou <a href="http://www.cookiecentral.com/faq/" title="Cookie Central" target="_blank">http://www.cookiecentral.com/faq/.</a>
</p>

<h3>6. Gerenciamento das análises de cookies</h3>
<p>Você pode optar por ter sua atividade de navegação anônima dentro de sites com cookies analíticos. Nós contamos com alguns prestadores de serviços e você pode aprender mais sobre as políticas de privacidade e como optar por não receber os cookies por meio dos links abaixo:</p>
<p>Adobe: <a target="_blank" title="Adobe" href="http://www.adobe.com/privacy/opt-out.html">http://www.adobe.com/privacy/opt-out.html</a></p>
<p>Google Analytics: <a target="_blank" title="Google Analytics" href="http://www.google.com/analytics/learn/privacy.html">http://www.google.com/analytics/learn/privacy.html</a></p>

<h3>7. Gerenciamento de objetos locais compartilhados ou flash cookies</h3>
<p>Um objeto local compartilhado ou um flash cookie é como a maioria dos cookies de navegador, exceto que ele pode armazenar outros tipos de informação. Esses cookies não podem ser controlados usando os mecanismos listados acima. Algumas partes deste site utilizam estes tipos de cookies para armazenar as preferências do usuário para a funcionalidade media player, e sem eles, alguns conteúdos de vídeo podem não funcionar corretamente. Esses cookies podem ser controlados manualmente, visitando o site da Adobe.</p>
<a>http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html</a>

<h3>8. Botões de mídias sociais</h3>
<p>Usamos os "botões sociais" para permitir que os nossos usuários compartilhem ou marquem páginas da web. São botões de sites terceiros de mídias sociais, e que podem registrar informações sobre suas atividades na internet, incluindo este site. Por favor, reveja os respectivos termos de uso e políticas de privacidade desses sites para entender exatamente como eles usam suas informações, como optar por não receber ou excluir tais informações.</p>

<h3>9. Serviços externos da web</h3>
<p>Às vezes, nós usamos serviços externos da web neste site para exibir os conteúdos das páginas. Por exemplo: exibir imagens, mostrar vídeos ou enquetes. Assim como acontece com os botões sociais, não podemos impedir que esses sites ou domínios externos coletem informações sobre o uso deste conteúdo.</p>

<h3>10. Comunicações via e-mail</h3>
<p>Nós também podemos usar tecnologias de rastreamento para determinar se você leu, clicou, ou encaminhou determinadas comunicações de e-mail que enviamos a você. Desta forma, conseguimos fazer nossas comunicações mais úteis e interessantes. Se você não quer que nós façamos essa verificação, você precisa cancelar a sua inscrição, uma vez que não é possível enviar esses e-mails sem o rastreamento. Assinantes registrados podem atualizar suas preferências de comunicação a qualquer momento entrando em contato conosco. Você também pode cancelar sua inscrição seguindo as instruções das comunicações de e-mail individuais que você recebe..</p>
<p>Podemos modificar ou alterar este Aviso de Cookies de tempos em tempos, a nosso critério. Quando fizermos alterações neste aviso, vamos alterar a data de revisão no topo desta página. O Aviso de Cookies modificado ou complementado vigorará a partir da data de revisão. Nós recomendamos que você revise periodicamente este Aviso para ficar informado sobre como estamos utilizando os cookies. .</p>
